<template>
  <div class="Acc-corps">
    <div class="corps-titre">
      <h2>Le Programme</h2>
      <p>
        <span>Nan</span>, c’est une formation en informatique d’excellence pour tous et toutes. 
        Au programme de cette école différente et innovante: une approche par projets pour progresser et développer 
        descompétences techniques et humaines recherchées sur le marché du travail.
      </p>
      <div class="corps-pro">
        <div class="coprs-pro1">
          <img src="@/assets/ImagesAccueil/teacher-white11.svg" alt="">
          <p> PAS DE PROFS , EMPLOI DU TEMPS FLEXIBLE</p>
        </div>
        <div class="coprs-pro1">
          <img src="@/assets/ImagesAccueil/projects-white11.svg" alt="">
          <p>UNE PÉDAGOGIE PAR PROJETS</p>
        </div>
        <div class="coprs-pro1">
          <img src="@/assets/ImagesAccueil/peer-to-peer-white11.svg" alt="">
          <p>UN APPRENTISSAGE PEER-TO-PEER</p>
        </div>
        <div class="coprs-pro1">
          <img src="@/assets/ImagesAccueil/elearning.svg" alt="">
          <p>UN APPRENTISSAGE EN LIGNE</p>
        </div>
        <div class="coprs-pro1">
          <img src="@/assets/ImagesAccueil/books.svg" alt="">
          <p>LES BATTLES</p>
        </div>
      </div>
    </div>
    <div class="corps-val">
      <div class="corps-val1">
        <h2>Nos Valeurs</h2>
        <p>
          La position de NaN est unique en Côte d’ivoire 
          de l'enseignement supérieur: elle repose sur des valeurs fortes pour une insertion professionnelle durable sur le marché de l’emploi.
        </p>
        <!-- <a href="">Concept Unique</a> -->
      </div>
      <div class="corps-val2">
        <div class="corps-val21">
          <div class="corps-val211">
            <img src="@/assets/ImagesAccueil/no-money-grey.svg" alt="">
            <p>GRATUITE</p>
          </div>
          <div class="corps-val211">
            <img src="@/assets/ImagesAccueil/certificate.png" alt="">
            <p>POUR TOUS, POUR TOUTES</p>
          </div>
        </div>
        <div class="corps-val21">
          <div class="corps-val211">
            <img src="@/assets/ImagesAccueil/no-certificate-grey.svg" alt="">
            <p>AUNCUN DIPLÔME REQUIS</p>
          </div>
          <div class="corps-val211">
            <img src="@/assets/ImagesAccueil/programming-grey.svg" alt="">
            <p>PAS BESOIN DE SAVOIR DÉJA CODER OU D'AIMER LES MATHS</p>
          </div>
        </div>
      </div>
    </div>
    <div class="corps-formationsAcc">
      <div class="corps-formations-titre">
        <h2>Nos Formations Certifiantes de NaN </h2>
      </div>
      <div class="corps-formations-text">
        <p><span>Nan,</span>Digitale Académie est spécialisée dans la préparation aux métiers de la NTIC. Notre parcours d’études allie dimension entrepreneuriale et internationale, excellence académique et acquisition des compétences professionnels.</p>
      </div>
      <div class="corps-formations">
        <div class="corps-formations-card">
          <div class="corps-formations-image" data-text="Developpeur  Web">
            <img src="@/assets/ImagesAccueil/web.png" alt="">
          </div>
          <div class="corps-formations-content">
            <div>
              <h3>Developpeur D'Application Web</h3>
              <p>Activité principale du développeur web: 
                le développement web consiste à programmer et
                mettre en place des sites web. Cela peut couvrir 
                notamment la simple création d’une page Internet 
                au développement d’une application web plus complexe
                ,ou même d’un réseau social
              </p>
            </div>
          </div>
        </div>
        <div class="corps-formations-card">
          <div class="corps-formations-image" data-text="Developpeur Mobile">
            <img src="@/assets/ImagesAccueil/mobile.png" alt="">
          </div>
          <div class="corps-formations-content">
            <div>
              <h3>Developpeur D'Application Mobile</h3>
              <p>Le développeur d'applications mobiles est chargé de la réalisation technique d'une application, basée sur un cahier des charges précis. Il calcule et conçoit des programmes informatiques pour le traitement des données.
              </p>
            </div>
          </div>
        </div>
        <div class="corps-formations-card">
          <div class="corps-formations-image" data-text="Marketing & Media">
            <img src="@/assets/ImagesAccueil/mmx.jpg" alt="">
          </div>
          <div class="corps-formations-content">
            <div>
              <h3>Marketing & Media</h3>
              <p>Le métier de community manager continue à évoluer et à faire ses entrées dans de nombreux programmes de formations. Du présentiel au e-learning, on apprend le métier sous toutes ses coutures avec les écoles et les centres de formation positionnés sur les métiers du web.
              </p>
            </div>
          </div>
        </div>
        <div class="corps-formations-card">
          <div class="corps-formations-image" data-text="Reseaux-Voip">
            <img src="@/assets/ImagesAccueil/reseaux.png" alt="">
          </div>
          <div class="corps-formations-content">
            <div>
              <h3>Reseaux-Voip</h3>
              <p>De l'intelligence artificielle à l'Internet des objets, des réseaux sociaux à l'économie contemporaine, la science des mégadonnées (Big Data) passe au crible et scrute un océan d'informations pour discerner et rendre compte de nombreux modèles, évaluer les opinions et les tendances et présenter ces résultats d'une manière qui peuvent être visualisés et exploités par tous.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <div class="corps-mission">
      <div class="corps-mission-titre">
        <h2>Pourquoi Etudier À NaN</h2>
        <p>Un Avenir de professionnel assuré avec NaN</p>
      </div>
      <div class="corps-mission-card">
        <div class="corps-mission-card1">
          <img src="@/assets/ImagesAccueil/goal.svg" alt="">
          <h3>Notre Vision</h3>
          <p>La vision de NaN repose sur ce que doit être l’avenir de l'Afrique francophone. L'Afrique doit devenir un des endroits de la terre où il fait le mieux-vivre.</p>
        </div>
        <div class="corps-mission-card1">
          <img src="@/assets/ImagesAccueil/goal.svg" alt="">
          <h3>Nos missions</h3>
          <p>Activité principale du développeur web: le développement web consiste à programmer et mettre en place des sites web.</p>
        </div>
        <div class="corps-mission-card1">
          <img src="@/assets/ImagesAccueil/goal.svg" alt="">
          <h3>Propositon de valeurs</h3>
          <p>Dans l'optique de devenir l'une des meilleures ecole de formation africaine, NaN se fonde sur ces expériences en tant qu'école semi-gratuite.</p>
        </div>
      </div>
    </div>
    <div class="corps-video">
      <!-- <video src="@/assets/ImagesAccueil/VIDEO1.mp4">le fichier ne peut pas être lu</video> -->
      <iframe width="100%" height="500" src="https://www.youtube.com/embed/PUpgcnQmBms"
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
    <div class="corps-statistique">
      <div class="corps-statistique-titre">
        <h2>Statistiques 2021 De NaN</h2>
      </div>
      <div class="corps-statistique-group">
        <div class="corps-statistique-arrow"></div>
        <div class="corps-statistique-stat">
          <div class="corps-statistique-stat1">
            <h3>41</h3>
            <span></span>
            <p class="etud">ÉTUDIANTS EN PRÉSENTIEL</p>
          </div>
          <div class="corps-statistique-stat1">
            <h3>98</h3>
            <span></span>
            <p class="etud">ETUDIANTS EN LIGNE</p>
          </div>
          <div class="corps-statistique-stat1">
            <h3>143</h3>
            <span></span>
            <br><br>
            <p class="cert">CERTIFIÉS</p>
          </div>
          <div class="corps-statistique-stat1">
            <h3>55</h3>
            <span></span>
            <br>
            <p class="cert">TAUX <br>D'INSERTIONS </p>
          </div>
        </div>
      </div>
    </div>
    <div class="corps-maps" ><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.101780364658!2d-3.964882484463386!3d5.401462436684686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfc1933ec546f809%3A0xa13e690552d16e30!2sNaN%20Digital%20Academy!5e0!3m2!1sfr!2sci!4v1656348981532!5m2!1sfr!2sci" width="800" height="600" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"  style="border: 0px;"></iframe></div>
    <div class="corps-info" >
      <img src="/img/1.eb7ba76d.jpg" alt="" >
      <div class="corps-info-details" >
        <h3 >CONTACT INFORMATION </h3>
        <div class="corps-info-details-plus" >
          <div class="corps-info-details1" >
            <div class="corps-info-details11" >
              <i class="fa-solid fa-phone"></i>
              <span >Telephone:</span>
            </div>
            <p >+2250789252529</p>
          </div>

          <div class="corps-info-details1" >
            
            <div class="corps-info-details11" >
              <i class="fas fa-envelope" ></i>
              <span >Mail:</span>
              
            </div>
            <p >info@nan.ci</p>
          </div>
        </div>
        <div class="corps-info-details-plus1" >
          <div class="corps-info-details1" >
           
            <div class="corps-info-details11" >
              <i class="fas fa-map-marker-alt" ></i>
              <span >Adresse:</span>
            </div>
            <p >Cocody,Angré,Carrefour GESTOCI </p>

          </div>
          <div class="corps-info-details1" >
           
            <div class="corps-info-details11" >
              <i class="fas fa-clock" ></i>
              <span >Temps de Travail</span>
            </div>
            <p >Lundi Au Vendredi <br > De 09h00 à 17h30 </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    name:"corpsComponent"

}
</script>

<style>

.corps-titre {
  max-width: var(--max-width);
  margin: 47px auto;
  height: auto;
  padding: 10px;
  /* border: 1px solid red; */
  /* border: 1px solid blue; */
}

.corps-titre h2 {
  text-align: center;
  padding: 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: var(--blanc);
  text-transform: uppercase;
}

.corps-titre span {
  color: var(--blanc);
  font-weight: bold;
  font-size: 30px;
}

.corps-titre p {
  text-align: left;
  letter-spacing: 2;
  line-height: 34px;
}

.corps-pro {
  display: flex;
  width: 100%;
}

.coprs-pro1 {
  border: 1px solid var(--violet);
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  color: var(--violet);
  padding: 10px;
  animation: rotate-0707d8ee 5000ms infinite;
}

.coprs-pro1 img {
  height: 70px;
  width: 70px;
  color: var(--violet);
}

.coprs-pro1 p {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 30px;
}

@keyframes rotate-0707d8ee {
  50% {
    box-shadow: 0 0 1em 0.5em var(--violet);
  }
}

.corps-val {
  max-width: var(--max-width);
  margin: 47px auto;
  /* border: 1px solid red; */
  height: 30%;
  background-color: var(--bg2);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.corps-val1 {
  background-color: var(--blanc);
  /* height: 400px; */
  width: 500px;
  /* margin: 50px 0 50px 50px; */
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
  justify-content: space-evenly;
  border-radius: 10px;
  /* border: 1px solid blue; */
  text-align: center;
  align-items: center;
}

.corps-val2 {
  /* border: 1px solid ; */
  /* background-color: var(--blanc); */
  /* height: 400px; */
  width: 500px;
  /* margin: 50px; */
  border-radius: 30px;
  display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}

.corps-val21 {
  display: flex;
  justify-content: center;
  /* margin-top: -20px; */
}

.corps-val211 {
  height: 180px;
  width: 250px;
  background-color: var(--blanc);
  margin: 20px 30px 30px 30px;
  text-align: center;
  border-radius: 15px;
  color: var(--noir);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.corps-val211 img {
  height: 75px;
}

.corps-val211 p {
  padding-top: 20px;
  text-align: center;
  color: var(--bg);
  font-size: 16px;
}

.corps-val1 h2 {
  font-size: 30px;
  color: var(--bg);
}

.corps-val1 p {
  color: var(--noir);
  /* text-align: justify;
  line-height: 29px; */
}

.corps-val1 a {
  padding: 10px;
  background-color: var(--violet);
  text-decoration: none;
  color: var(--blanc);
  width: 150px;
  border-radius: 10px;
  font-weight: bold;
}

/* .corps-formations{
    max-width: var(--max-width);
    margin: 47px auto;
    height: 500px;
    background-color: var(--bg2);
    border-radius: 20px;

}
.corps-formations-card{
    background-color: var(--blanc);
    height: 400px;
    width: 500px;
    margin: 50px 0 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    
} */
.corps-formationsAcc {
  max-width: var(--max-width);
  margin: 47px auto;
  height: 830px;
  background-color: var(--bg2);
  border-radius: 20px;
      display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.corps-formations-titre h2 {
  text-align: center;
  padding: 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: var(--blanc);
  text-transform: uppercase;
}

.corps-formations-text span {
  color: var(--blanc);
  font-weight: bold;
  font-size: 30px;
}

.corps-formations-text p {
  text-align: left;
  letter-spacing: 2;
  line-height: 34px;
  margin: 0px 20px;
}

.corps-formations {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.corps-formations .corps-formations-card {
  position: relative;
  height: 250px;
  background-color: var(--blanc);
  display: flex;
  width: 47%;
  margin: 30px 0px;
  border-radius: 10px;
}

.corps-formations .corps-formations-card .corps-formations-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: #333; */
  background: var(--bg);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
}

.corps-formations .corps-formations-card:hover .corps-formations-image {
  width: 131px;
  height: 131px;
  left: -75px;
  top: calc(50% - 75px);
  transition: 0.5s ease-in-out;
  background: var(--violet);
  border-radius: 10px;
}

.corps-formations .corps-formations-card .corps-formations-image::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  left: 0;
  top: 55%;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 3em;
  color: rgba(255, 255, 255, .05);
  font-weight: 700;
  text-transform: uppercase;
}

.corps-formations .corps-formations-card .corps-formations-image img {
  max-width: 100px;
  transition: 0.5s ease-in-out;
  background-color: azure;
  height: 80px;
}

.corps-formations .corps-formations-card:hover .corps-formations-image img {
  max-width: 75px;
}

.corps-formations .corps-formations-card .corps-formations-content {
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.corps-formations .corps-formations-card .corps-formations-content h3 {
  margin-bottom: 13px;
  font-size: 24px;
}

.corps-formations .corps-formations-card .corps-formations-content p {
  color: var(--noir);
  text-align: justify;
  font-size: 17px;
}

.corps-formations .corps-formations-card .corps-formations-content a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background: #333;
  text-decoration: none;
  color: var(--blanc);
}

.corps-mission {
  max-width: var(--max-width);
  margin: 47px auto;
  height: 450px;
  border: 2px solid var(--blanc);
  border-radius: 20px;
}

.corps-mission-titre h2 {
  text-align: center;
  padding: 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: var(--blanc);
  text-transform: uppercase;
}

.corps-mission-titre p {
  text-align: left;
  letter-spacing: 2;
  text-align: center;
}

.corps-mission-card {
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.corps-mission-card1 {
  height: 261px;
  width: 290px;
  background-color: var(--blanc);
  /* margin-top: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 0 5px;
}

.corps-mission-card1 img {
  height: 90px;
  width: 90px;
  margin-bottom: 20px;
}

.corps-mission-card1 p {
  color: var(--noir);
  font-size: 14px;
  text-align: justify;
  padding: 20px;
}

.corps-video {
  max-width: var(--max-width);
  height: 500px;
  margin: 47px auto;
  /* height: 500px; */
  border: 2px solid var(--bg2);
  border-radius: 20px;

}

.corps-video iframe {
  /* height: 500px;
    width: 1140px; */
    object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}

.corps-statistique {
  max-width: var(--max-width);
  margin: 47px auto;
  height: 400px;
  background-color: var(--bg2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-around;
}

.corps-statistique-titre h2 {
  text-align: center;
  padding: 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: var(--blanc);
  text-transform: uppercase;
}

.corps-statistique-group {
  /* border: 1px solid green; */
  display: flex;
  /* height: 300px; */
  justify-content: center;
  align-items: center;
}

/* .corps-statistique-arrow{
    border: 1px solid red;
    height: 100px;
    width: 100px;
} */
.corps-statistique-stat {
  display: flex;
  justify-content: space-around;
}

.corps-statistique-stat1 {
  border-right: 3px solid var(--violet);
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.corps-statistique-stat1 h3 {
  border-bottom: 4px solid var(--blanc);
  width: 60px;
  font-size: 30px;
  color: var(--violet);
  text-align: center;
}

.corps-statistique-stat1 p {
  text-align: center;
  font-size: 15px;
  width:150px;
  font-weight: bold;
}
 .etud{
  margin-top: 35px;
}
.cert{
  margin-top: 7px;
}


.corps-maps {
  max-width: var(--max-width);
  margin: 47px auto;
}

.corps-maps iframe {
  width: 100%;
  height: 510px;
  border-radius: 10px;
  z-index: 999;
}

.corps-info {
  height: 350px;
  max-width: 850px;
  width: 98%;
  margin: 30px auto;
  background-color: var(--blanc);
  display: flex;
  border-radius: 10px;
}

.corps-info img {
  max-width: 425px;
  width: 98%;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}

.corps-info-details {
  max-width: 425px;
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.corps-info-details-plus , .corps-info-details-plus1{
  display: flex;
  justify-content: space-evenly;
}

/* .corps-info-details-plus1 {
  display: flex;
  justify-content: space-evenly;
} */

.corps-info-details h3 {
  color: var(--violet);
  text-align: center;
  /* padding: 20px 20px 0 20px; */
  font-size: 24px;
}

.corps-info-details1 {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.corps-info-details1 i {
  margin-right: 12px;
  color: var(--violet);
  font-size: 20px;
}

.corps-info-details11 span {
  font-weight: bold;
  font-size: 20px;
}

.corps-info-details1 p {
  color: var(--noir);
  font-size: 14px;
  margin-top: 8px;
}

@media (max-width:768px) {
  .corps-titre span {
    font-size: 23px;
  }

  .corps-titre p {
    text-align: center;
    font-size: 17px;
  }

  .coprs-pro1 {
    border: none;
    animation: none;
    width: 180px;
    margin-right: none;
  }

  .coprs-pro1 img {
    height: 50px;
    width: 50px;
    color: var(--violet);
  }

  .coprs-pro1 p {
    font-size: 11px;
    line-height: 20px;
  }

  .corps-val {
    display: flex;
    flex-direction: column;
    /* margin: 0 0px 0 20px; */
    /* margin: 0px 20px; */
    /* height: 100vh; */
  }

  .corps-val1 {
    width: 100%;
    /* height: 1000px; */
  }

  .corps-val2 {
    width: 100%;
    /* height: 1000px; */
  }

  .corps-formations .corps-formations-card {
    max-width: 500px;
    width: 100%;
    flex-direction: column;
    height: auto;
  }
  .corps-formations .corps-formations-card .corps-formations-content h3 {
    font-size: 20px;
  }

  .corps-formations .corps-formations-card .corps-formations-image {
    position: relative;
  }

  .corps-formations .corps-formations-card .corps-formations-image,
  .corps-formations .corps-formations-card:hover .corps-formations-image {
    width: 100%;
    height: 250px;
    left: 0;
  }

  .corps-formations .corps-formations-card .corps-formations-image img,
  .corps-formations .corps-formations-card:hover .corps-formations-image img {
    max-width: 100px;
  }

  .corps-formations .corps-formations-card .corps-formations-content {
    position: relative;
    width: 100%;
  }

  .corps-formations .corps-formations-card .corps-formations-content h3 {
    text-align: center;
  }
  .corps-formations .corps-formations-card .corps-formations-content p{
    text-align: initial;
    letter-spacing: 0px;
  }

  .corps-formations .corps-formations-card .corps-formations-image::before {
    font-size: 2em;
  }
}
@media (max-width:1000px){
  .corps-formationsAcc{
    height: auto;
  }
  .corps-formations{
    flex-direction: column;
    align-items: center;
  }
  .corps-formations .corps-formations-card{
    width: 63%;
  }
  
}
@media (max-width:602px){
  .corps-val21{
    flex-direction: column;
    align-items: center;
  }
  .corps-val1 p {
    font-size: 16px;
  }
  .corps-info-details h3{
  padding: 15px;
  font-size: 20px;
}
}
@media (max-width: 800px) {
.corps-info{
  flex-direction: column;
  height: auto;
  align-items: center;
  padding: 10px;
  max-width: 450px;
  width: 98%;
}
.corps-info-details{
  width: 100%;
}
.corps-info-details h3{
  padding: 20px;
}
.corps-info-details-plus ,.corps-info-details-plus1{
  padding: 10px;
}
.corps-info-details11 span{
 font-size: 16px;
}

}


@media (max-width: 768px) {
  .corps-mission{
    height: auto;
    border: none;
  }
  .corps-mission-titre p {
    padding: 10px;
  }
  .corps-mission-card{
    height: auto;
    flex-direction: column;
  }
  .corps-mission-card1{
    margin: 10px 0;
    height: 265px;
    width: 300px;

  }
  .corps-pro{
    flex-wrap: wrap;
    justify-content: center;
  }

}
</style>